/*
    RESET
*/

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/

img {
    width: 100%;
}

.container {
    height: 95vh;
    background-color: white;
    box-shadow: .2px .2px .2px black, 0 0 .2px black, 0 0 5px black;
}

section .row,
aside .row .col {
    background-color: #EAEAEA;
}

/*
    MAIN
*/

body {  
    height: 100vh;
    background: rgb(0,255,192);
    background: linear-gradient(180deg, #009688 15%, #DBDBD4 15%);
    overflow-y: hidden;
}

/*
    MAIN / ASIDE
*/

body main #app aside {
    height: 780px;
}

body main #app aside .scroll {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container .row .col-4 .row .col img,
.container .row .col-4 .row .col-10 img,
section .row .col-7 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 0;
}

.container .row .col-4 .row .col-10 div p:not(:first-child),
.container .row .col-4 .row .col-1,
section .row .col i {
    font-size: 1cap;
    color: #B1B1B1;
}

.container .row .col-4 .row .col i,
section .row .col i {
    margin: 0 5px;
    font-size: 2cap;
    color: #B1B1B1;
    cursor: pointer;
}

.active {
    background-color: #E9EBEB;
}

/*
    MAIN / SECTION
*/

body main #app section .row:not(:first-child) {
    height: 80%;
}

section .row .col-7 div p:last-child {
    font-size: 1cap;
    color: grey;
}

section .row:last-child {
    background-image: url(../img/mine.jpg);
    max-width: 100%;
}

section .row:last-child .col-12 .row .col {
    padding: 50px 100px;
}

section .row:last-child .col-12 .row .col div div p:last-child {
    padding-left: 225px;
    padding-right: 5px;
    font-size: 1cap;
    color: #B1B1B1;
}